@charset "UTF-8";

#grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 600px;
    margin: 20px auto;
    background-color: beige;
    border: 3px solid green;
}

.item {
    margin: 20px;
    text-align: center;
    border: 1px dashed black;
    padding: 50px;
}

.exp {
    grid-column: span 2;
    grid-row: span 8;
}