@charset "UTF-8";

.corpo {
    display: grid;
    grid-template: 60px 30px  60px 60px 30px / 200px 200px 200px 200px;
    text-align: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topo {
    background-color: red;
    grid-area: 1 / 1 / 2 / -1;
}

.menu {
    background-color: green;
    grid-area: 2 / 1 / 3 / -1;
}

.principal {
    background-color: blue;
    grid-area: 3 / 1 / 5 / -2;
}

.secundario {
    background-color: yellow;
    grid-area: 3 / 4 / 5 / -1;
}

.rodape {
    background-color: orange;
    grid-area: 5 / 1 / -1 / -1;
}
